@import 'tailwindcss';

@theme {
    --font-playfair: "Playfair Display", Arial;
    --font-arial: Arial;
}

h1 {
    @apply text-4xl font-extrabold 

}

h2{
    @apply text-3xl font-extrabold mb-4 font-playfair
}

p{
    @apply text-lg !font-arial
}


body{
    font-family: Arial, Helvetica, sans-serif;
}